<!DOCTYPE html>
<html>
<head>
    <style>
        table {border: 1px solid black; border-collapse: collapse; width: 100%;}
        th {border: 1px solid black; border-collapse: collapse; padding: 5px;}
        td {border: 1px solid black; border-collapse: collapse; padding: 5px;}
        th.highlight {background-color: aqua;}
        td.highlight {background-color: aqua;}
    </style>
</head>
<body style="padding: 3rem">
    <h1>Final Paper</h1>
    Shaping the Modern World<br />
    Spring 2022<br />
    Danielle Bennett

    <h3>Student Name: {{ context["student_name"] }}</h3>

    <p>Breakdown of Paper Score: </p>
    <table class="table">
        <thead style="border: 1px solid black">
            <tr>
                {% for i in range(1, 5): %}
                    <th>
                        {{ context["rubric"][i]["name"] }}<br>
                        <!-- ({{ context["rubric"][i]["max_points"] }} points) -->
                    </th>
                {% endfor %}
            </tr>
        </thead>
        {% for i in range(1, 7): %}
            <tr>
                {% for n in range(1, 5): %}
                    <td class={{ "highlight" if i == context["sections"][n] }}>
                        <!-- {{ i }} <br> {{ n }} -->
                        {{ context["rubric"][n][i]["description"] }}<br>
                        ({{ context["rubric"][n][i]["points"] }} points)
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <td class="text-end"><strong>Total:</strong> {{ context["final_grade"]["points"] }} points</td>
            </tr>
        </tfoot>
    </table>



    <!-- 'final_grade': {'points': 179, 'available_points': 200, 'percent': 89.5, 'letter': 'B+'},  -->


    <h3>Final Grade: {{context["final_grade"]["points"]}}/{{ context["final_grade"]["available_points"] }} ({{ context["final_grade"]["percent"] }}% {{ context["final_grade"]["letter"] }})</h3>
    {% if context["final_grade"]["comments"]: %}
        <p>Instructor's Comments: {{ context["final_grade"]["comments"] }}</p>
    {% endif %}
</body>
</html>
