<!DOCTYPE html>
<html>
<head>
    <style>
        table {border: 1px solid black; border-collapse: collapse; width: 100%;}
        th {border: 1px solid black; border-collapse: collapse;}
        td {border: 1px solid black; border-collapse: collapse;}
    </style>
</head>
<body style="padding: 3rem">
    <h1>Semester Scores</h1>
    US History since 1865, Fall 2023, Danielle Bennett

    <h3>Student Name: {{ context["student_name"] }}</h3>

    <p>Breakdown of Final Score: </p>
    {% for assignment in context["sections"]: %}
        {% for name, points in assignment.items(): %}
            {{ name }}: {{ points }} points <br>
        {% endfor %}
    {% endfor %}
    <br>
    <strong>Total:</strong> {{ context["points"] }} points

    <h3>Final Grade: {{ context["points"] }}/{{ context["available_points"] }} ({{ context["percent"] }}% {{ context["letter"] }})
</body>
</html>